#body {
    background-image: url("images/rotation_light_background_dark_91673_1920x1080.jpg");
    width: 1920px;
    position: absolute;
    background-repeat: repeat;
}

header {
    opacity: 1;
}

.container1 {
    width: 1000px;
    height: 100px;
    margin: auto;
    margin-top: 100px;
}

.container2 {
    opacity: 0.9;
    width: 325px;
    height: 100px;
    margin: auto;
    margin-top: -94px;
}

.square1 {
    width: 470px;
    height: 470px;
    margin-left: 388px;
    border-style: double;
    border-color: white;
    transform: rotate(0.125turn);
    margin-top: 80px;
}

.square2 {
    width: 470px;
    height: 470px;
    margin: auto;
    margin-left: 1060px;
    border-style: double;
    border-color:white;
    transform: rotate(0.125turn);
    margin-top: -476px;
    background: url(images/simon.jpg) 0 0 repeat;
    background-size: 471px;
}



h1 {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 1;
    letter-spacing: 5px;
    color: white;
    font-size: 35px;
    position: relative;
    margin: auto;
}
.vert1 {
    background-color: white;
    width: 2px;
    height: 50px;
    opacity: 0.9;
    position: relative;
    left: 27.5%;

}

.horz1 {
    background-color: white;
    width: 275px;
    height: 2px;
    opacity: 0.9;
    position: relative;
    bottom: 27%;
}

.vert2 {
    background-color: white;
    width: 2px;
    height: 50px;
    opacity: 0.9;
    position: relative;
    left: 72.5%;
    bottom: 51%;
}

.horz2 {
    background-color: white;
    width: 275px;
    height: 2px;
    opacity: 0.9;
    position: relative;
    bottom: 79%;
    left: 72.7%;
}

.p-container {
    width: 400px;
    height: 400px;
    color: white;
    margin: auto;
    margin-top: -390px;
    margin-left: 430px;
}

.about-text {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.5;
    text-align: justify;
}

