
h1 {
    font-weight: 0;
    font-size: 70px;
    margin-left: 100px;
    font-family: 'Courier', monospace;
}

.container1 {
    margin-top: 120px;
}
.circle1 {
    background: rgb(39, 143, 132);
    opacity: 0.95;
    border-radius: 50%;
    position: relative;
    width: 700px;
    height: 700px;
    z-index: 2;
    top: 50%;
    left: 32%;

}
.circle2 {
    background-color:rgb(39, 143, 132);
    border:3px solid white;    
    height:670px;
    width:670px;
    opacity: 0.85;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    position: relative;
    top: 1.6%;
    left: 1.6%;

    z-index: 1;
}

.circle3 {
    background-color:rgb(39, 143, 132);
    border:3px solid white;    
    height:50px;
    width:50px;
    opacity: 0.70;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    position: relative;
    top: 75%;
    left: 45%;

    z-index: 3;
}


.p1 {
    color: rgb(255, 255, 255);
    position: relative;
    top: 10%;
    left: 10%;
}

.p2 {
    color: white;
    font-size: 25px ;
    position: relative;
    top: 6%;
    left: 7%;
}

.p3 {
    color: white;
    font-size: 25px ;
    position: relative;
    top: 6%;
    left: 14%;
}

.bar1 {
    position: relative;
    height: 4px;
    border-radius: 10px;
    width: 400px;
    background-color: white;
    top: 5%;
    left: 20%
}

.bar2 {
    position: relative;
    height: 4px;
    border-radius: 10px;
    width: 400px;
    background-color: white;
    top: 9%;
    left: 20%
}

#body {
    background-image: url("http://getwallpapers.com/wallpaper/full/0/3/c/12613.jpg");
    width: 1920px;
    position: absolute;
    background-repeat: repeat;
}




